@mixin btn_form {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    border: none;
    color: $color_text;
    font-weight: 100;
    width: 250px;
    height: 30px;
    text-align: center;
}



