footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 0 25px;
    color: $Color_letraFooter;
    text-align: center;
    background-color: $Color_titulos;
    padding: 10px 0;
    margin-top: 140px;

    p {
        font-size: 20px;
        font-weight: bold;
        margin: 0;
    }

    img {
        width: 20px;
        height: 20px;
    }
}
