

* {
  box-sizing: border-box;
  padding: 0%;
  margin: 0%;
  font-family: Arial, Helvetica, sans-serif;
  
}
body {
  font-size: 14px;
  
}

header {
  margin-bottom: 50px;
  box-shadow: 0px 10px 7px rgba(0, 0, 0, 0.25);
}

.descuentos {
  background-color: #1cd1b0;
  padding: 3px 3px 3px 20px;
  font-size: small;
}
.heroes {
  position: fixed;
  z-index: 10;
  background-color:#00669f;
  width: 100%;
  height: 100px;
  padding: 10px 30px; 
  border: 1px solid #09547f;
  box-shadow: 0px 10px 7px rgba(0, 0, 0, 0.25); 
}

.heroes h1 {
  font-size: 40px;
  font-weight: lighter;
  padding: 10px 0.9px;
  color: white;
}

.contenedor {
  margin: 15% 3% 15% 3%;
  width: 95%;
  display: flex;
  justify-content: space-evenly;
  gap: 50px;
  flex-flow: row wrap;
  
}

.seccion {
  width: 100%;
  max-width: 300px;
  box-shadow: 0px 10px 7px rgba(0, 0, 0, 0.25);
}

.seccion:nth-child(1) .img {
  position: relative;
  background-image: url(../imagenes/fondo-1.png);
  background-repeat: no-repeat;
  height: 193px;
  background-size: cover;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
}

.seccion:nth-child(2) .img {
  position: relative;
  background-image: url(../imagenes/fondo-2.png);
  background-repeat: no-repeat;
  height: 193px;
  background-size: cover;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
}
.seccion:nth-child(3) .img {
  position: relative;
  background-image: url(../imagenes/fondo-3.png);
  background-repeat: no-repeat;
  height: 193px;
  background-size: cover;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
}
.seccion:nth-child(4) .img {
  position: relative;
  background-image: url(../imagenes/fondo-4.png);
  background-repeat: no-repeat;
  height: 193px;
  background-size: cover;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
}

.corazones {
  position: absolute;
  top: 15.88px;
  left: 21px;
}

.perfil {
  width: 120px;
  height: 118px;
  border-radius: 50%;
  position: absolute;
  bottom: -60px;
  left: calc(50% - 60px);
}

.contenido {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px;
  background-color: #f3f3f3;
  min-height: 401px;
}

.contenido h2 {
  margin: 50px 0 15px 0;
  font-size: 25px;
  font-weight: bold;
}

.contenido p {
  text-align: left;
  margin-bottom: 20px;
}

.enlace {
  background-color: #00669f;
  color: white;
  text-decoration: none;
  padding: 20px 50px;
  border-radius: 7px;
}


.footer {
  background-color: #00669f;
  padding: 20px;
  display: flex;
  gap: 10px;
  align-items: center;
  padding: 20px;
  justify-content: space-between;
  
}

.footer p {
  color: white;
  text-align: center;
}

.footer img {
  color: white;
  width: 130px;
  height: 30px;
}

.btn {
  background-color: #00669f;
  width: 60px;
  height: 60px;
  border-radius: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 90px;
  right: 20px;
  

  .h1 a{
    font-size: 50px;
    font-weight: lighter;
    text-decoration: none;
    color: white;
 
  }

  .h1 a:hover{
    font-size: 70px;
    font-weight: bold;
    color: white;
 
  }
}


@media (max-width: 420px) {

.contenedor {
  margin: 40% 3% 15% 3%;

}

.descuentos {
  background-color: #d1891c;
  padding: 3px 3px 3px 20px;
  font-size:larger;
  color: white;
}

.enlace {
  padding: 20px 50px;
  border-radius: 7px;
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0%;
  gap: 0px;
  height: 50px;
}

.footer img {
  width: 60px;
  height: 18px;
  margin-bottom: 2%;
}

.footer p {
  margin-top: 2%;

}

}


@media (max-width: 690px) {

  .contenedor {
    margin: 30% 3% 15% 3%;

  }
  
  .descuentos {
    background-color: #d1891c;
    padding: 3px 3px 3px 20px;
    font-size:larger;
    color: white;
  }
  
  .enlace {
    padding: 20px 50px;
    border-radius: 7px;
  }
  
  .footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0%;
    gap: 0px;
    height: 50px;
  }
  
  .footer img {
    width: 60px;
    height: 18px;
    margin-bottom: 2%;
  }
  
  .footer p {
    margin-top: 2%;
  }
  }


  /*estilos de barra contacto*/

.contacto {
    position: fixed;
    z-index: 11;
    top: 100px;
    background-color: #001D2D;
    color: white;
    box-shadow: 0px 10px 7px rgba(0, 0, 0, 0.25);
    display: flex;
    justify-content: right;
    padding: 10px;
    width: 100%;
    
}

.contacto ul {
    list-style: none;
    display: flex;
    gap: 20px;
}
.contacto a {
    text-decoration: none;
    color: white;
}


  /* estilos de registro.html*/ 


.formulario {
    background-color: #09547f;
    box-shadow: 0px 10px 7px rgba(0, 0, 0, 0.25);
    border-radius: 40px;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 100vh;

}

.formulario h2 {
    font-weight: 600;
    font-size: 32px;
}

.formulario p {
    margin-top: 10px;
    margin-bottom: 30px;
    font-weight: lighter;
    color: rgba(255, 255, 255, 0.621);
    font-size: 1.3em;
}

.row {
    display: flex;
    justify-content: space-between;
    gap: 25px;
    margin-bottom: 30px;
    flex-wrap: wrap;
    color: rgba(255, 255, 255, 0.621);
}



.container-input {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

    .archivo {
      color: black;
    }
}

.container-input label {
  margin-bottom: 4%;
  font-size: 1.3em;
}

.container-input-check {
    display: flex;
    flex-direction: column;
    position: relative;
    right: 55px;
    gap: 4%;
    font-size: 1.3em;
}

input {
    width: 230px;
    height: 40px;
    border-radius: 10px;
    border: none;
}

.check {
    width: 30px;
    height: 15px;
    border: none;
   
}

.titulo-check {
    margin-bottom: 10px;
}

.container-input-check hr {
    margin-top: 20px;
    margin-bottom: 20px;
}

textarea {
    width: 230px;
    border-radius: 10px;
    border: none;
    resize: none;
}

select {
    width: 230px;
    height: 40px;
    border-radius: 10px;
    border: none;
}



.boton {
  display: flex;
  justify-content: center;


  
}

.boton button {
  background-color: #1CD1B0;
  border: 1px solid  #1CD1B0;
  border-radius: 15px;
  width: 320px;
  font-size: 32px;
  padding: 10px;
  font-weight: bold;
  
  

}


